{% extends 'SupplierBundle::base.html.twig' %}

{% block body %}
	<!-- You ROLE:	{% if is_granted('ROLE_SUPER_ADMIN') %}ROLE_SUPER_ADMIN{% endif %}
					{% if is_granted('ROLE_ADMIN') %}ROLE_ADMIN{% endif %}
					{% if is_granted('ROLE_COMPANY_ADMIN') %}ROLE_COMPANY_ADMIN{% endif %}
					{% if is_granted('ROLE_RESTAURANT_ADMIN') %}ROLE_RESTAURANT_ADMIN{% endif %}
					{% if is_granted('ROLE_ORDER_MANAGER') %}ROLE_ORDER_MANAGER{% endif %} -->
<div class="metro">
	<div class="metro-sections">
		<div class="metro-section">
	{% if is_granted('ROLE_RESTAURANT_ADMIN') %}
		{% if cid is defined %}
			<!-- Менеджер ресторана -->
				<a class="tile wide text bg-color-orange" href="{{ path('restaurant', {'cid': cid }) }}">
	               <div class="text-header">Рестораны</div>
		           <div class="text4">Cписок ресторанов компании</div>
	            </a>
		{% endif %}
	{% endif %}
	
	{% if is_granted('ROLE_ORDER_MANAGER') %}
		{% if cid is defined %}
			{% if is_granted('ROLE_SUPER_ADMIN') == false %}
			<!-- Менеджер по закупкам -->
				<a class="tile wide text bg-color-green" href="{{ path('Order_list', {'cid': cid }) }}">
	               <div class="text-header">Заказы</div>
		           <div class="text4">Заказы сгруппированные по ресторанам и поставщикам</div>
	            </a>
				<a class="tile wide text bg-color-yellow" href="{{ path('supplier', {'cid': cid }) }}">
		            <div class="text-header">Поставщики</div>
		            <div class="text4">Cписок всех поставищиков в компании</div>
	            </a>
				<a class="tile wide text bg-color-blueDark" href="{{ path('product', {'cid': cid }) }}">
	               <div class="text-header">Продукты</div>
		           		<div class="text4">Cписок продуктов компании</div>
	            </a>
			{% endif %}
		{% endif %}
	{% endif %}

	{% if is_granted('ROLE_COMPANY_ADMIN') %}
		{% if cid is defined %}
			{% if is_granted('ROLE_SUPER_ADMIN') == false %}
				{% if ROLE_ADMIN == 0 %}
					<a class="tile wide text bg-color-green" href="{{ path('Order_list', {'cid': cid }) }}">
		            	<div class="text-header">Заказы</div>
		          		<div class="text4">Заказы сгруппированные по ресторанам и поставщикам</div>
		            </a>
					<a class="tile wide text bg-color-yellow" href="{{ path('supplier', {'cid': cid }) }}">
		            	<div class="text-header">Поставщики</div>
		            <div class="text4">Cписок всех поставищиков в компании</div>
		            </a>
					<a class="tile wide text bg-color-blueDark" href="{{ path('product', {'cid': cid }) }}">
		            	<div class="text-header">Продукты</div>
		           		<div class="text4">Cписок продуктов компании</div>
		            </a>
					<a class="tile wide text bg-color-red" href="{{ path('user_management', {'cid': cid }) }}">
		            	<div class="text-header">Пользователи</div>
		           		<div class="text4">Менеджеры компании, по ресторанам ролям</div>
		            </a>
				{% endif %}
			{% endif %}
		{% endif %}
	{% endif %}
		{% if cid is defined %}
			{% if restaurants_list is defined %}
			    {% for key, restaurant_name in restaurants_list %}

					<a class="tile square text bg-color-greenDark" href="{{ path('WorkingHours_list', {'cid': cid, 'rid': key }) }}">
			        	<div class="text-header">Смены</div>
			       		<div class="text4">Ресторан "{{ restaurant_name }}"</div>
			        </a>	
			        <a class="tile square text bg-color-purple" href="{{ path('OrderItem_list', {'cid': cid, 'rid': key }) }}">
			        	<div class="text-header">Заказы</div>
			       		<div class="text4">Ресторан "{{ restaurant_name }}"</div>
			        </a>
			    {% endfor %}
			{% endif %}
		{% endif %}
		</div>
	</div>
</div>
{% endblock %}

