{% extends 'SupplierBundle::base.html.twig' %}

{% block body %}

	<!-- <div  class="row">
		<div class="span12">
			<div class="hero-unit">
				<p class="lead"> You ROLE:
					{% if is_granted('ROLE_SUPER_ADMIN') %}ROLE_SUPER_ADMIN{% endif %}
					
					{% if is_granted('ROLE_ADMIN') %},ROLE_ADMIN{% endif %}
					
					{% if is_granted('ROLE_COMPANY_ADMIN') %},ROLE_COMPANY_ADMIN{% endif %}
					
					{% if is_granted('ROLE_RESTAURANT_ADMIN') %},ROLE_RESTAURANT_ADMIN{% endif %}
					
					{% if is_granted('ROLE_ORDER_MANAGER') %},ROLE_ORDER_MANAGER{% endif %}
				</p>
			  </div>
		</div>
	</div>-->
	<ul class="thumbnails">
	{% if is_granted('ROLE_RESTAURANT_ADMIN') %}
		{% if cid is defined %}
			<!-- Менеджер ресторана -->
			<li class="span4 ">
				<div class=" thumbnail">
					<div class="caption">
						<h4>Смотреть доступные рестораны</h4>
						<p>Список ресторанов</p>
						<p><a class="btn" href="{{ path('restaurant', {'cid': cid }) }}">Смотреть список ресторанов »</a></p>
					</div>
				</div>
			</li>
		{% endif %}
	{% endif %}
	
	{% if is_granted('ROLE_ORDER_MANAGER') %}
		{% if cid is defined %}
			{% if is_granted('ROLE_SUPER_ADMIN') == false %}
			<!-- Менеджер по закупкам -->
			<li class="span4">
				<div class="thumbnail">
					<div class="caption">
						<h4>Cформировать заказ</h4>
						<p>Страница списка продуктов по ресторанам/постовщикам</p>
						<p><a class="btn" href="{{ path('Order_list', {'cid': cid }) }}">Смотреть заказанные продукты »</a></p>
					</div>
				</div>
			</li>	
			<li class="span4">
				<div class="thumbnail">
					<div class="caption">
						<h4>Управление поставщиками</h4>
						<p>Список постовщиков</p>
						<p><a class="btn" href="{{ path('supplier', {'cid': cid }) }}">Смотреть/править список поставщиков »</a></p>
					</div>
				</div>
			</li>
			<li class="span4">
				<div class="thumbnail">
					<div class="caption">
						<h4>Управление продуктами</h4>
						<p>Список продуктов</p>
						<p><a class="btn" href="{{ path('product', {'cid': cid }) }}">Смотреть/править список продуктов »</a></p>
					</div>
				</div>
			</li>
			{% endif %}
		{% endif %}
	{% endif %}

	{% if is_granted('ROLE_COMPANY_ADMIN') %}
		{% if cid is defined %}
			{% if is_granted('ROLE_SUPER_ADMIN') == false %}
			<li class="span4 ">
				<div class=" thumbnail">
					<div class="caption">
						<h4>Управление ресторанами</h4>
						<p>Список ресторанов</p>
						<p><a class="btn" href="{{ path('restaurant', {'cid': cid }) }}">Смотреть список ресторанов »</a></p>
					</div>
				</div>
			</li>
			<li class="span4 ">
				<div class=" thumbnail">
					<div class="caption">
						<h4>Управление менеджерами</h4>
						<p>Список пользователей</p>
						<p><a class="btn" href="{{ path('user_management', {'cid': cid }) }}">Смотреть список пользователей »</a></p>
					</div>
				</div>
			</li>
			{% endif %}
		{% endif %}
	{% endif %}
	
	{% if is_granted('ROLE_SUPER_ADMIN') %}
	<!-- Администраторов сервиса -->
		<li class="span4">
			<div class="thumbnail">
				<div class="caption">
					<h4>Управление компаниями</h4>
					<p>Список компаний</p>
					<p><a class="btn" href="{{ path('company') }}">Смотреть/править список компаний »</a></p>
				</div>
			</div>
		</li>
		<li class="span4">
			<div class="thumbnail">
				<div class="caption">
					<h4>Управление "Администраторами компании"</h4>
					<p>Список "Администраторов компании"</p>
					<p><a class="btn" href="{{ path('user') }}">Смотреть/править список администраторов »</a></p>
				</div>
			</div>
		</li>
	{% endif %}
	</ul>
{% endblock %}

