{% extends 'SupplierBundle::base.html.twig' %}

{% block body %}
	<!-- You ROLE:	{% if is_granted('ROLE_SUPER_ADMIN') %}ROLE_SUPER_ADMIN{% endif %}
					{% if is_granted('ROLE_ADMIN') %}ROLE_ADMIN{% endif %}
					{% if is_granted('ROLE_COMPANY_ADMIN') %}ROLE_COMPANY_ADMIN{% endif %}
					{% if is_granted('ROLE_RESTAURANT_ADMIN') %}ROLE_RESTAURANT_ADMIN{% endif %}
					{% if is_granted('ROLE_ORDER_MANAGER') %}ROLE_ORDER_MANAGER{% endif %} -->
<div class="metro index">
	<div class="metro-sections">
		<div class="metro-section index-first-line  tile-span-4">

		{% if is_granted('ROLE_ORDER_MANAGER') %}
			{% if cid is defined %}

		        <a class="tile square text bg-color-blue" href="{{ path('restaurant', {'cid': cid }) }}">
		        	<div class="text-header4">Рестораны</div>
	           		<div class="text4">Cписок всех ресторанов компании</div>
		        </a>
				{% if is_granted('ROLE_COMPANY_ADMIN') %}
					<a class="tile wide text bg-color-purple" href="{{ path('user_management', {'cid': cid }) }}">
		            	<div class="text-header">Пользователи</div>
		           		<div class="text4">Менеджеры компании, по ресторанам ролям</div>
		            </a>
				{% endif %}
				<a class="tile square text bg-color-green" href="{{ path('product', {'cid': cid }) }}">
	               <div class="text-header">Продукты</div>
		           	<div class="text4">Cписок продуктов компании</div>
	            </a>
				<a class="tile wide text bg-color-orange" href="{{ path('Order_list', {'cid': cid }) }}">
	               <div class="text-header">Заказы</div>
		           <div class="text4">Cгруппированные по ресторанам и поставщикам</div>
	            </a>
				<a class="tile wide text bg-color-yellow" href="{{ path('supplier', {'cid': cid }) }}">
		            <div class="text-header">Поставщики</div>
		            <div class="text4">Cписок всех поставищиков в компании</div>
	            </a>
			{% endif %}
		{% endif %}
				<a class="tile square text bg-color-darken">
		            <div class="text-header4">Сообщения</div>
	            </a>
				<a class="tile wide text bg-color-blue">
		            <div class="text-header">Список дел</div>
	            </a>
		</div>
		<div class="metro-section tile-span-2">
			<div id="myCarousel" class="carousel slide" data-interval="7000">
				<!-- Carousel items -->
				<div class="carousel-inner">
					{% if cid is defined %}
						{% if restaurants_list is defined %}
						    {% for key, restaurant_name in restaurants_list %}
								<div class="item{% if loop.first %} active{% endif %}">
							        <a class="tile wide text bg-color-blueDark">
							        	<div class="text-header">{{ restaurant_name }}</div>
							        </a>
									<a class="tile square text bg-color-greenDark" href="{{ path('WorkingHours_list', {'cid': cid, 'rid': key }) }}">
							        	<div class="text-header">Смены</div>
							        </a>	
							        <a class="tile square text bg-color-red" href="{{ path('OrderItem_list', {'cid': cid, 'rid': key }) }}">
							        	<div class="text-header">Заказы</div>
							        </a>		
							    </div>
						    {% endfor %}
						{% endif %}
					{% endif %}
				</div> 
				<!-- Carousel nav -->
				<a class="carousel-control left" href="#myCarousel" data-slide="prev">&#8249;</a>
				<a class="carousel-control right" href="#myCarousel" data-slide="next">&#8250;</a>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="/js/metro/jquery.mousewheel.js"></script>
<script type="text/javascript" src="/js/metro/jquery.scrollTo.js"></script>
<script type="text/javascript" src="/js/metro/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/metro/bootmetro.js"></script>
<script type="text/javascript" src="/js/metro/bootmetro-charms.js"></script>
<script type="text/javascript">
      $('.carousel').carousel()
   </script>
{% endblock %}

