{% extends 'SupplierBundle::base.html.twig' %}

{% block title %}Стартовая{% endblock %}

{% block body %}
<div class="metro">
	<div class="metro-sections">
		<div class="metro-section">
                  <a class="tile wide text bg-color-darken" href="{{ path('user') }}">
                        <div class="text-header">Администраторы</div>
                  </a>
      		<a class="tile square text bg-color-orange" href="{{ path('company') }}">
      			<div class="text-header">Компании</div>
      		</a>
      		<a class="tile wide text bg-color-green" rel="restaurant" href="">
      			<div class="text-header">Рестораны</div>
      			<div class="text4"> Список ресторанов компании <select>
						{% for company in companies %}<option value="{{ company.id }}">{{ company.name }}</option>{% endfor %}
					</select>
      			</div>
      		</a>
      		<a class="tile wide text bg-color-pink" rel="order" href="">
      			<div class="text-header">Заказы</div>
      			<div class="text4">Заказы компании<select>
						{% for company in companies %}<option value="{{ company.id }}">{{ company.name }}</option>{% endfor %}
					</select>
      			</div>
      		</a>
            </div>
      </div>
      <div class="metro-sections">
            <div class="metro-section">
      		<a class="tile wide text bg-color-blueDark" rel="supplier" href="">
      			<div class="text-header">Поставщики</div>
      			<div class="text4">Поставщики компании<select>
						{% for company in companies %}<option value="{{ company.id }}">{{ company.name }}</option>{% endfor %}
					</select>
      			</div>
      		</a>
      		<a class="tile wide text bg-color-purple" rel="product" href="">
      			<div class="text-header">Продукты</div>
      			<div class="text4">Продукты компании<select>
						{% for company in companies %}<option value="{{ company.id }}">{{ company.name }}</option>{% endfor %}
					</select>
      			</div>
      		</a>
      		<a class="tile wide text bg-color-greenDark" rel="user" href="">
      			<div class="text-header">Менеджеры</div>
      			<div class="text4">Менеджеры компании<select>
						{% for company in companies %}<option value="{{ company.id }}">{{ company.name }}</option>{% endfor %}
					</select>
      			</div>
      		</a>
		</div>
      </div>
<script type="text/javascript">
	$('.tile').click(function(){
		if ($(this).attr('rel') != undefined) {
			window.location = '/company/'+$('select', this).val()+'/'+$(this).attr('rel');
			return false;
		}
	});
</script>

{% endblock %}

