{# src/Acme/UserBundle/Resources/views/User/login.html.twig #}
{% extends 'AcmeUserBundle::base.html.twig' %}
{% block body %}
<h1>Авторизация</h1>
<form action="{{ path('login_check') }}" method="post"  class="">
	
	<div class="text8 login-metro">
    	<input type="text" id="username" name="_username" placeholder="Номер телефона" value="{{ last_username }}" />
   
    	<input type="password" id="password" placeholder="Пароль" name="_password" />

	    <label class="checkbox">
	    	<input type="checkbox" id="remember_me" name="_remember_me" checked /><span class="metro-checkbox">Запомнить меня</span>
	 	</label>
	
	    {#   Если вы хотите контролировать URL, на который перенаправить пользователя: #}
		<input type="hidden" name="_target_path" value="{{ target_path }}" />

	  <button type="submit" class="btn">Войти</button>
	  <a href="{{ path('registr') }}" class="btn btn-primary">Регистрация</a>

	</div>
</form>

{% if error %}
	<p class="alert alert-error">{{ error.message }}</p>
{% endif %}

{% endblock %}
