{# src/Supplier/SupplierBundle/Resources/views/base.html.twig #}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>ShowStaff - {{ block('title')|striptags }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    
<link rel="stylesheet" type="text/css" href="/css/bootmetro.css">
<link rel="stylesheet" type="text/css" href="/css/bootmetro-tiles.css">
<link rel="stylesheet" type="text/css" href="/css/bootmetro-charms.css">
<link rel="stylesheet" type="text/css" href="/css/metro-ui-light.css">
<link rel="stylesheet" type="text/css" href="/css/icomoon.css">
    
    <link href="/css/datepicker.css" rel="stylesheet">
    <style type="text/css">
      .sidebar-nav { padding: 9px 0; }
    </style>
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
	<script src="/js/jquery.js"></script>
	<script src="/js/underscore-min.js"></script>
	<script src="/js/backbone.js"></script>
  <script src="/js/bootstrap-tooltip.js"></script>  
  <script src="/js/bootstrap-modal.js"></script>
  <script src="/js/bootstrap-datepicker.js"></script>
  <script src="/js/main.js"></script>
  <script src="/js/menu.min.js"></script>
  <script src="/js/feedback.js"></script>
    
    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="../assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body>
<script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-35948738-1']);
	_gaq.push(['_setDomainName', 'showstaff.ru']);
	_gaq.push(['_trackPageview']);

	(function() {
	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
  
	var _gaq = window._gaq || [];
	window.onerror = function(msg, url, line) {
		var preventErrorAlert = true;
		_gaq.push(['_trackEvent', 'JS Error', msg, navigator.userAgent + ' -> ' + url + " : " + line, 0, true]);
		return preventErrorAlert;
	};
	
	jQuery.error = function (message) {
		_gaq.push(['_trackEvent', 'jQuery Error', message, navigator.userAgent, 0, true]);
	}
</script>
<input type="hidden" id="refreshed" value="no" />

<header id="nav-bar" class="container-fluid">
      <div class="row-fluid">
         <div class="span8">
            <div id="header-container">
               <a id="backbutton" class="win-backbutton" title="Главная" href="/"></a>
               <div class="dropdown margintop10">
                  <a class="header-dropdown dropdown-toggle accent-color" data-toggle="dropdown" href="#">
                    {% if company.id is defined %}Компания "{{ company.name }}"{% else %}Супер админ{% endif %}
                     <b class="caret"></b>
                  </a>
          				<ul class="dropdown-menu">
                    <li><a href="/"><strong>Стартовая</strong></a></li>
                    {% if  (is_granted('ROLE_ORDER_MANAGER') or is_granted('ROLE_RESTAURANT_ADMIN')) %}
            					{% if company.id is defined %}
                      <li class="divider"></li>
                      <li class="nav-header">Структура</li>
            					<li><a href="/company/{{ company.id }}/restaurant">Рестораны</a></li>
            					<li><a href="/company/{{ company.id }}/user">Пользователи</a></li>
            					<li class="divider"></li>
            					<li class="nav-header">Заказы</li>
                      <li><a href="/company/{{ company.id }}/supplier">Поставщики</a></li>
            					<li><a href="/company/{{ company.id }}/product">Продукты</a></li>
            					<li><a href="/company/{{ company.id }}/order">Заказы</a></li>{% endif %}
            					{% if is_granted('ROLE_SUPER_ADMIN') %}
                        <li class="divider"></li>
                        <li class="nav-header">Супер админ</li>
                        <li><a href="/company">Компании</a></li>
                        <li><a href="/user">Администраторы</a></li>
                      {% endif %}
                      {% if company.id is defined %}
                        {% if restaurants_list is defined %}
                            {% for key, restaurant_name in restaurants_list %}
                              <li class="divider"></li>
                              <li class="nav-header">{{ restaurant_name }}</li>
                              <li><a href="{{ path('WorkingHours_list', {'cid': company.id, 'rid': key }) }}">Смены</a></li>
                              <li><a href="{{ path('OrderItem_list', {'cid': company.id, 'rid': key }) }}">Заказы</a></li>
                            {% endfor %}
                        {% endif %}
                      {% endif %}

                    {% endif %}
          				</ul>
                  <h4>{% block title %}Главная{% endblock %}</h4>
            </div>
            </div>
         </div>
         <div id="top-info" class="pull-right">
          <div class="top-info-block dropdown">
            {% if app.user.username is defined %}
    					<a data-toggle="dropdown" class="right-menu dropdown-toggle accent-color" role="button" id="dLabel" >
                {% if app.user.fullname is defined %}{{ app.user.fullname }}{% else %}{{ app.user.username }}{% endif %}
                <b class="caret caret-right"></b>
              </a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <li><a href="/logout" class="btn-block btn-logout">Выйти</a></li>
              </ul>
            {% endif %}
             <h4>{{ app.user.username }}</h4>
          </div>
          <div class="top-info-block">
             <b class="icon-user"></b>
          </div>
         <hr class="separator pull-left">
         <span id="settings" class="pull-left"><b class="icon-settings"></b></span>
      </div>
   </div>
   </header>

    <div class="container">
		
      <div class="row">
        <div class="span12">
		 {% block body %}{% endblock %}
					 
		 <div id="up">
		  <div class="alert hide alert-error"><button type="button" class="close">×</button>
			Ошибка. <strong></strong><br>Попробуйте еще раз или обратитесь к администратору.
		  </div>
		  <div class="alert hide alert-success"><button type="button" class="close">×</button>
			<strong>Продукт добавлен</strong>
		  </div>
		  <div class="progress progress-striped active hide" id="preloader"><div class="bar" style="width: 100%;"></div></div>
			<div class="progress progress-striped green active hide" id="preloader_s"><div class="bar" style="width: 100%;"></div></div>
		  </div>
		 
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; ShowStaff.ru 2012</p>
      </footer>

    </div><!--/.fluid-container-->
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->    
    <script src="/js/bootstrap-transition.js"></script>
    <script src="/js/bootstrap-alert.js"></script>
    <script src="/js/bootstrap-modal.js"></script>
    <script src="/js/bootstrap-dropdown.js"></script>
    <script src="/js/bootstrap-scrollspy.js"></script>
    <script src="/js/bootstrap-tab.js"></script>
    <script src="/js/bootstrap-popover.js"></script>
    <script src="/js/bootstrap-button.js"></script>
    <script src="/js/bootstrap-collapse.js"></script>
    <script src="/js/bootstrap-carousel.js"></script>
    <script src="/js/bootstrap-typeahead.js"></script>
  </body>
</html>
