{% extends 'SupplierBundle::base.html.twig' %}

{% block body %}

	<div  class="row">
		<div class="span12">
			<legend>Edit Company "{{ company.name }}"</legend>
			<form action="{{ path('company_edit', { 'id': company.id }) }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
				
				{{ form_errors(form) }}
				
				<div class="control-group">
					{{ form_label(form.name, null, { 'attr': {'class': 'control-label'}}) }}
					
					<div class="controls">
						{{ form_errors(form.name) }}
						{{ form_widget(form.name) }}
					</div>
				</div>
				<div class="control-group">
					{{ form_label(form.extended_name, null, { 'attr': {'class': 'control-label'}}) }}
					
					<div class="controls">
						{{ form_errors(form.extended_name) }}
						{{ form_widget(form.extended_name) }}
					</div>
				</div>
				<div class="control-group">
					{{ form_label(form.inn, null, { 'attr': {'class': 'control-label'}}) }}
					
					<div class="controls">
						{{ form_errors(form.inn) }}
						{{ form_widget(form.inn) }}
					</div>
				</div>
				{{ form_rest(form) }}
				<div class="control-group">
					<div class="controls">
						<input type="submit" value="Save" />
						<a href="{{ path('company') }}" class="btn btn-link">Cancel</a>
					</div>
				</div>
			</form>
		</div>
	</div>
{% endblock %}
