{% extends 'SupplierBundle::base.html.twig' %}

{% block body %}

	<div  class="row">
		<div class="span12">
			<div class="navbar">
			  <div class="navbar-inner">
				<ul class="nav">
				  <li><a href="{{ path('supplier') }}">Supplier</a></li>
				  <li><a href="{{ path('company') }}">Companies</a></li>
				</ul>
			  </div>
			</div>
		</div>
		<div class="span12">
			<h2>Company "{{ company.name }}"</h2>
			<table class="table table-striped">
				<tr>
					<th>#</th>
					<th>Name</th>
					<th>Restaurants</th>
					<th>Extended name</th>
					<th>INN</th>
					<th>Delete</th>
				</tr>
					<tr>
						<td>{{ company.id }}</td>
						<td>
							<p>
								<a href="{{ path('company_edit', { 'id': company.id }) }}" class="btn btn-link">
								<i class="icon-edit"></i>
								</a>&nbsp;{{ company.name }}
							</p>
						</td>
						<td>
							<a href="{{ path('restaurant', { 'cid': company.id }) }}" class="btn btn-link">Рестораны компании</a>
						</td>
						<td>
							<a href="{{ path('product', { 'cid': company.id }) }}" class="btn btn-link">Продукты компании</a>
						</td>
						<td>{% if company.extendedName is defined  %}{{ company.extendedName }}{% endif %}</td>
						<td>{{ company.inn }}</td>
						<td>
							<a href="{{ path('company_del', { 'id': company.id }) }}" class="btn btn-link del" title="Delete Item">
								<i class="icon-remove"></i>
							</a>
						</td>
					</tr>
			</table>
		</div>
	</div>
{% endblock %}
