{% extends 'SupplierBundle::base.html.twig' %}

{% block body %}

	<div  class="row">
		<div class="span12">
			<div class="navbar">
			  <div class="navbar-inner">
				<ul class="nav">
				  <li><a href="">Supplier</a></li>
				  <li><a href="{{ path('company') }}">Companies</a></li>
				</ul>
			  </div>
			</div>
		</div>
		<div class="span12">
			<legend>Edit Restaurant "{{ restaurant.name }}" for the Company "{{ company.name }}"</legend>
			<div class="form_add_company">
				<form action="{{ path('restaurant_edit', { 'cid': company.id, 'rid': restaurant.id }) }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
					
					{{ form_errors(form) }}
					
					<div class="control-group">
						{{ form_label(form.name, null, { 'attr': {'class': 'control-label'}}) }}
						
						<div class="controls">
							{{ form_errors(form.name) }}
							{{ form_widget(form.name) }}
						</div>
					</div>
					<div class="control-group">
						{{ form_label(form.address, null, { 'attr': {'class': 'control-label'}}) }}
						
						<div class="controls">
							{{ form_errors(form.address) }}
							{{ form_widget(form.address) }}
						</div>
					</div>
					<div class="control-group">
						{{ form_label(form.director, null, { 'attr': {'class': 'control-label'}}) }}
						
						<div class="controls">
							{{ form_errors(form.director) }}
							{{ form_widget(form.director) }}
						</div>
					</div>
					{{ form_rest(form) }}
					<div class="control-group">
						<div class="controls">
							<input type="submit" value="Save" />
							<a href="{{ path('restaurant', {'cid':company.id}) }}" class="btn btn-link">Cancel</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
