{% extends 'SupplierBundle::base.html.twig' %}

{% block title %}Расписание{% endblock %}

{% block body %}

<div class="row-fluid">
	<div class="span3">
		<h1><!-- {{ app.user.id }} --> {% if app.user.fullname is defined %}{{ app.user.fullname }}{% else %}{{ app.user.username }}{% endif %}</h1>
		<p>Номер телефона: <strong>{{ app.user.username }}</strong></p>
		<p>Эл. почта: <strong>{{ app.user.email }}</strong></p>
	</div>
	<div class="span9">
		
		<h2>{{ curent_week }} неделя</h2>
		
		<ul class="breadcrumb">
		{% for d, v in week_nav %}
			<li {% if curent_week == d %}class="active"{% endif %}>
				
				{% if curent_week == d %}
					{{ v }}
				{% else %}
					<a href="/calendar/{{ d }}">{{ v }}</a>
				{% endif %}
				
				{% if loop.last %}{% else %}
					<span class="divider">/</span>
				{% endif %}
			</li>
		{% endfor %}
		</ul>
		
		<table class="table table-bordered table-striped schedule">
			<thead>
				<tr>
					<th>Ресторан \ Дата</th>
					{% for d, v in week %}
					<th class="span2">{{ d }}<br>План/факт</th>
					{% endfor %}
				</tr>
			</thead>
			<tbody>
				{% for k, w in restaraunts %}
					<tr>
						<td><!-- #{{ k }}--> {{ w }}</td>
						{% for d, v in week %}
							{% if v[k] is defined %}
								<td>{{ v[k].planhours }} / {{ v[k].facthours }}<hr>{{ v[k].description }}</td>
							{% else %}
								<td>0 / 0<hr></td>
							{% endif %}
						{% endfor %}
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>

{% endblock %}
